---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ===== 自定义覆盖样式 ===== */
.home h1.entry-title {
  font-size: 1.5rem !important;
}

.single h1.entry-title {
  font-size: 1.8rem !important;
}
